<div class="header_logo">
            <a href="http://thoitrangdshop.vn/" title="http://thoitrangdshop.vn/"></a>
        </div>
        

        <div class="header_search">

            

            <div class="header_search_keyword">
                <input name="ctl00$ucheaderfull1$header_search_keyword" type="text" id="ctl00_ucheaderfull1_header_search_keyword" value="Váy, giày, túi xách, ..." title="Váy, giày, túi xách, ..." onkeypress="return runScriptTop(event);" onblur="javascript:if(this.value == '')this.value='Váy, giày, túi xách, ...';" onfocus="javascript:if(this.value == 'Váy, giày, túi xách, ...') this.value='';">
            </div>
            <div class="header_search_submit">
                <input type="submit" name="ctl00$ucheaderfull1$header_search_submit" value="." id="ctl00_ucheaderfull1_header_search_submit">
            </div>

            

            <a href="javascript:;" title="" name="buy_cart"></a>
            <div class="header_button">
                
                <div class="div_button">
                    <a class="button_cart" onclick="viewcart('shopping-cart-background','shopping-cart','ucGioHang.aspx');">
                        <span class="title">Giỏ Hàng</span>
                        <span class="btncontent">0</span>
                    </a>

                    <div class="cartdiv"></div>
                    
                    
                </div>
                <div class="div_button">
                    <a class="button_login"><span>Đăng Nhập</span></a>
                    <div class="logindiv w200">
                        <div class="loginform_head"></div>
                        <div class="loginform_div">
                            <ul id="ctl00_ucheaderfull1_divlogin_show" class="ul_login">
                                <li>
                                    <a id="loginFB" onclick="loginFacebook();" style="display: none" class="btnfacebook"></a>
                                    <a href="http://thoitrangdshop.vn/login.aspx" title="Đăng Nhập" class="btnLoginWeb"></a>
                                    
                                    <div class="new-account"><span>Khách hàng mới? <a href="http://thoitrangdshop.vn/login.aspx" title="Tạo tài khoản mới">Tạo tài khoản</a></span></div>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>



                
            </div>
    </div>
