#header {
	background: #ee314f;
	height: 190px;
}
#banner {
	height: 120px;
	width: 960px;
    margin: 0 auto;
}
.header_logo {
  background: url(http://thoitrangdshop.vn/Images/Dshop/logo_new.png) no-repeat 12px 0;
  background-position: 20px;
  float: left;
  width: 276px;
}
.header_logo a {
  float: left;
  height: 108px;
  width: 276px;
}
a {
  color: #737373;
  outline: 0;
  text-decoration: none;
}
.header_search {
  background: 0 0;
  float: right;
  margin-left: 10px;
  position: relative;
  width: 350px;
}
a, abbr, acronym, address, article, aside, blockquote, body, caption, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, label, legend, li, nav, object, ol, p, pre, q, section, span, tbody, tfoot, thead, ul {
  background: 0 0;
  border: 0;
  font-family: Arial;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
.header_search .header_search_keyword input {
  background: #FFF;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  color: #737373;
  font: 400 15px arial;
  height: 30px;
  line-height: 30px;
  moz-border-radius: 4px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-top: 3px;
  position: absolute;
  right: 0;
  top: 10px;
  webkit-border-radius: 4px;
  width: 84%;
}
.header_search .header_search_submit input {
  background: url(http://thoitrangdshop.vn/Images/Dshop/search-3-16.png) no-repeat center center;
  border: none;
  border-radius: 4px;
  color: #FFF;
  height: 38px;
  moz-border-radius: 4px;
  position: absolute;
  right: 0;
  top: 10px;
  webkit-border-radius: 4px;
  width: 42px;
}
a {
  color: #737373;
  outline: 0;
  text-decoration: none;
}
.header_search .header_button {
  margin: 55px 0 0;
}
.div_button {
  float: right;
  margin-left: 20px;
  text-transform: uppercase;
  width: 150px;
}
.button_cart {
  background: url(http://thoitrangdshop.vn/Images/Dshop/btncart_new.png) no-repeat;
  background-position: 91px;
  border: 1px solid #ff95a6;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 12px;
  height: 46px;
  line-height: 30px;
  moz-border-radius: 4px;
  moz-box-shadow: 0 0 4px rgba(0,0,0,.4);
  webkit-border-radius: 4px;
  width: 147px;
}
.header_search .header_search_keyword input {
  background: #FFF;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  color: #737373;
  font: 400 15px arial;
  height: 30px;
  line-height: 30px;
  moz-border-radius: 4px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-top: 3px;
  position: absolute;
  right: 0;
  top: 10px;
  webkit-border-radius: 4px;
  width: 84%;
}
.button_cart .title {
  line-height: 42px;
  padding: 16px 10px 15px 8px;
}
.button_cart .btncontent {
  color: #ee314f;
  display: inline-block;
  height: 36px;
  padding: 11px 26px 1px 14px;
  text-align: center;
  width: 23px;
}
.cartdiv {
  display: none;
  height: 131px;
  margin: 42px 0 0 -99px;
  position: absolute;
  width: 250px;
  z-index: 999;
}
.div_button {
  float: right;
  margin-left: 20px;
  text-transform: uppercase;
  width: 150px;
}
.button_login {
  background: url(http://thoitrangdshop.vn/Images/Dshop/btnlogin_new.png) no-repeat;
  background-position: 94px;
  border: 1px solid #ff95a6;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 12px;
  height: 46px;
  line-height: 30px;
  moz-border-radius: 4px;
  moz-box-shadow: 0 0 4px rgba(0,0,0,.4);
  webkit-border-radius: 4px;
  width: 140px;
}
.button_login span {
  line-height: 48px;
  padding: 17px 51px 14px 10px;
}
.w200 {
  width: 200px;
}
.logindiv {
  display: none;
  height: 131px;
  margin: 42px 0 0 -5px;
  position: absolute;
  z-index: 9999;
}
.header_search .header_search_submit input {
  background: url(http://thoitrangdshop.vn/Images/Dshop/search-3-16.png) no-repeat 12px;
  border: none;
  border-radius: 4px;
  color: #FFF;
  height: 38px;
  moz-border-radius: 4px;
  position: absolute;
  right: 0;
  top: 10px;
  webkit-border-radius: 4px;
  width: 42px;
}
a {
  color: #737373;
  outline: 0;
  text-decoration: none;
}

.button_login span:hover {
  color: #fff;
}
#menu {
	background: #000;
	height: 40px;
}
#show-text {
	background: #989696;
	height: 30px;
}
#content {
	width: 960px;
	height: 1340px;
	margin: 0 auto;
}
#sidebar {
	background: #27d3f8;
	height: 1340px;
	width: 200px;
	float: left;
}
#slider {
	background: #f9ea00;
	width: 760px;
	height: 340px;
	float:right;
}
#wrap-content {
	background: #5baf36;
	height: 1000px;
	width: 760px;
	float: right;
}
#footer {
	background: #cfc4c4;
	height: 370px;
}